{% extends 'courses/base.html' %}
{% block title %}MakeTime - Courses{% endblock %}
{% block course_active %}active{% endblock %}

{% block body %}

<div class="top-container">
  <h1>{{ user }}'s  Courses</h1>
  <a class="btn btn-success" href="{% url 'courses:create_course' %}">Create Course</a>
</div>
{% if courses %}
  <div class="row">
    {% for course in courses %}
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3><strong>{{ course.title }}</strong></h3>
          </div>
          <div class="panel-body">
            <p>
              {{ course.description }}
            </p>
          </div>
          <div class="panel-footer">
            <h4>{{ course.location }} | {{ course.time }}</h4>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% else %}
  <h3>You have no courses</h3>
{% endif %}


<!--  Display ALL COURSES and join option  -->


{% endblock %}
