{% extends 'courses/base.html' %}
{% block title %}Group Up - Assignments{% endblock %}
{% block assignment_active %}active{% endblock %}


{% block body %}


<h1>Assignments</h1>
{% if assignments %}
<table class="table">
  <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Course</th>
        <th>Due Date</th>
        <th>Complete</th>
      </tr>
    </thead>
    <tbody>
      {% for assignment in assignments %}
        <tr>
          <td>{{ assignment.title }}</td>
          <td>{{ assignment.description }}</td>
          <td>{{ assignment.course }}</td>
          <td>{{ assignment.is_complete }}</td>
        </tr>
      {% endfor %}
{% else %}
  <h3>You have no assignments</h3>
{% endif %}

<a class="btn btn-success" href="{% url 'assignments:create_assignment' %}">Create Assignment</a>

{% endblock %}
