{% extends 'courses/base.html' %}
{% block title %}MakeTime - Meet Up{% endblock %}
{% block meetup_active %}active{% endblock %}

{% block body %}
<h1>Meetups</h1>
{% if meetups %}
  {% for meetup in meetups %}
    <div class="meetup-container">
      <h3>{{ meetup.title }}  Posted by {{ meetup.user }} at {{ meetup.created_at }}</h3>
      {% for comment in meetup.comment_set.all %}
      <div class="comment-container">
        <div class="comment-content">
          <h6>{{ comment.comment_content }} Posted by {{ comment.user }} at {{ comment.created_at }}</h6>
        </div>
        <div class="is-attending-container">
          <!-- {{ comment.is_attending  }} -->
        </div>
      </div>
      {% endfor %}
    </div>
  {% endfor %}
{% else %}
  <h1>You have no meet ups</h1>
{% endif %}

<a class="btn btn-success" href="{% url 'meetups:create_meetup' %}">Create Meet Up</a>

{% endblock %}
