{% extends 'courses/base.html' %}
{% block title %}GroupUp - Meet Up{% endblock %}
{% block meetup_active %}active{% endblock %}

{% block body %}
<div class="top-container">
  <h1>Meetups</h1>
  <a class="btn btn-success" href="{% url 'meetups:create_meetup' %}">Create Meet Up</a>
</div>

{% if meetups %}
  {% for meetup in meetups %}
    <div class="meetup-container">
      <a href="{% url 'meetups:detail' meetup.id %}"><h3>{{ meetup.title }}<h3></a>
      <h3>Location: {{ meetup.location }} from {{ meetup.start_time }} to {{ meetup.est_end_time }}</h3>
      <h4>Posted by {{ meetup.user }} at {{ meetup.created_at }}</h4>
      {% for comment in meetup.comment_set.all %}
      <div class="comment-container">
        <div class="comment-content">
          <h6>{{ comment.comment_content }} Posted by {{ comment.user }} at {{ comment.created_at }}</h6>
        </div>
      </div>
      {% endfor %}

      <!-- comment link -->
      <form class="comment-form" role="form" action="{% url 'meetups:create_comment' meetup.id %}" method="post" enctype="multipart/form-data" class="comment_form">
        {% csrf_token %}
          <input type="hidden" name="meetup" value="{{ meetup }}">
          <input type="text" id="id_comment_content" maxlength="50" name="comment_content" placeholder="Let {{ meetup.user }} know if you can make it!" required>
            <div class="form-group">
                  <button type="submit" class="btn btn-default">Comment</button>
            </div>
      </form>
    </div>
  {% endfor %}
{% else %}
  <h1>You have no meet ups</h1>
{% endif %}

{% endblock %}
